In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import csv

In [2]:
crime_df = pd.read_excel(r'Crimes_2018.1_to_Present.xlsx')

In [3]:
crime_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,12137388,JD334537,01/01/2018 12:00:00 AM,010XX W NEWPORT AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER (SPECIFY),False,False,...,44.0,6.0,11,NaN,NaN,2018,08/17/2020 03:50:01 PM,NaN,NaN,NaN
1,11196173,JB105519,01/01/2018 12:00:00 AM,075XX S ST LOUIS AVE,1152,DECEPTIVE PRACTICE,ILLEGAL USE CASH CARD,RESIDENCE,False,False,...,18.0,70.0,11,1154348.0,1854412.0,2018,05/04/2018 03:51:04 PM,41.756325,-87.709916,"(41.756324845, -87.709916401)"
2,11198738,JB108247,01/01/2018 12:00:00 AM,0000X S COLUMBUS DR,820,THEFT,$500 AND UNDER,PARKING LOT/GARAGE(NON.RESID.),False,False,...,42.0,32.0,6,1178293.0,1900315.0,2018,05/04/2018 03:51:04 PM,41.881777,-87.620768,"(41.881776822, -87.620767948)"
3,11212228,JB127156,01/01/2018 12:00:00 AM,109XX S HALSTED ST,810,THEFT,OVER $500,NURSING HOME/RETIREMENT HOME,False,False,...,34.0,49.0,6,1172930.0,1832289.0,2018,05/04/2018 03:51:04 PM,41.695227,-87.642468,"(41.69522655, -87.642467755)"
4,11220328,JB137687,01/01/2018 12:00:00 AM,038XX N DRAKE AVE,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,RESIDENCE,True,True,...,35.0,16.0,20,1152042.0,1925257.0,2018,05/04/2018 03:51:04 PM,41.950778,-87.716502,"(41.950777548, -87.716502434)"

In [4]:
crime_df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude',
       'Location'],
      dtype='object')

In [5]:
crime=crime_df.drop(['ID','Case Number','Block', 'IUCR','Description','Location Description','Arrest','Beat','Ward','FBI Code',
               'X Coordinate','Y Coordinate','Updated On', 
               'Latitude', 'Longitude','Location'],axis=1)

In [6]:
crime['Month'] = crime_df.Date.str.extract(pat='(^[0-9][0-9])', expand=False)
crime.Month

0          01
1          01
2          01
3          01
4          01
           ..
1000015    04
1000016    04
1000017    04
1000018    04
1000019    04
Name: Month, Length: 1000020, dtype: object

In [7]:
crime['Year']=crime['Year'].map(lambda x:str(x))

In [8]:
crime['Month_Year']=crime['Month'].str.cat(crime['Year'],sep="/")

In [9]:
crime.head()

,Date,Primary Type,Domestic,District,Community Area,Year,Month,Month_Year
0,01/01/2018 12:00:00 AM,DECEPTIVE PRACTICE,False,19,6.0,2018,01,01/2018
1,01/01/2018 12:00:00 AM,DECEPTIVE PRACTICE,False,8,70.0,2018,01,01/2018
2,01/01/2018 12:00:00 AM,THEFT,False,1,32.0,2018,01,01/2018
3,01/01/2018 12:00:00 AM,THEFT,False,22,49.0,2018,01,01/2018
4,01/01/2018 12:00:00 AM,OFFENSE INVOLVING CHILDREN,True,17,16.0,2018,01,01/2018

In [10]:
crime=crime.drop(['Date','Year','Month'],axis=1)

In [11]:
crime[0:10]

                 Primary Type  Domestic  District  Community Area Month_Year
0          DECEPTIVE PRACTICE     False        19             6.0    01/2018
1          DECEPTIVE PRACTICE     False         8            70.0    01/2018
2                       THEFT     False         1            32.0    01/2018
3                       THEFT     False        22            49.0    01/2018
4  OFFENSE INVOLVING CHILDREN      True        17            16.0    01/2018
5  OFFENSE INVOLVING CHILDREN     False         9            58.0    01/2018
6  OFFENSE INVOLVING CHILDREN     False        10            30.0    01/2018
7          DECEPTIVE PRACTICE     False        14            22.0    01/2018
8          DECEPTIVE PRACTICE     False         8            63.0    01/2018
9                 SEX OFFENSE     False         5            50.0    01/2018

In [12]:
len(crime)

1000020

In [14]:
type_set=set()
for i in crime['Primary Type']:
    type_set.add(i)
type_set

{'ARSON',
 'ASSAULT',
 'BATTERY',
 'BURGLARY',
 'CONCEALED CARRY LICENSE VIOLATION',
 'CRIM SEXUAL ASSAULT',
 'CRIMINAL DAMAGE',
 'CRIMINAL SEXUAL ASSAULT',
 'CRIMINAL TRESPASS',
 'DECEPTIVE PRACTICE',
 'GAMBLING',
 'HOMICIDE',
 'HUMAN TRAFFICKING',
 'INTERFERENCE WITH PUBLIC OFFICER',
 'INTIMIDATION',
 'KIDNAPPING',
 'LIQUOR LAW VIOLATION',
 'MOTOR VEHICLE THEFT',
 'NARCOTICS',
 'NON-CRIMINAL',
 'NON-CRIMINAL (SUBJECT SPECIFIED)',
 'OBSCENITY',
 'OFFENSE INVOLVING CHILDREN',
 'OTHER NARCOTIC VIOLATION',
 'OTHER OFFENSE',
 'PROSTITUTION',
 'PUBLIC INDECENCY',
 'PUBLIC PEACE VIOLATION',
 'RITUALISM',
 'ROBBERY',
 'SEX OFFENSE',
 'STALKING',
 'THEFT',
 'WEAPONS VIOLATION'}

In [16]:
# Count for domestic crime
count_domestic={}
for i in range(len(crime)):
    if crime['Domestic'][i]==True:
        if crime['Month_Year'][i] not in count_domestic:
            count_domestic[crime['Month_Year'][i]]=0
        count_domestic[crime['Month_Year'][i]]+=1
    if crime['Month_Year'][i]==0:
        print(i)

count_domestic

{'01/2018': 3313,
 '02/2018': 2891,
 '03/2018': 3555,
 '04/2018': 3510,
 '05/2018': 4291,
 '06/2018': 4134,
 '07/2018': 4147,
 '08/2018': 4006,
 '09/2018': 3650,
 '10/2018': 3637,
 '11/2018': 3379,
 '12/2018': 3529,
 '01/2019': 3367,
 '02/2019': 3038,
 '03/2019': 3518,
 '04/2019': 3545,
 '05/2019': 4086,
 '06/2019': 3962,
 '07/2019': 4119,
 '08/2019': 3947,
 '09/2019': 3635,
 '10/2019': 3347,
 '11/2019': 3303,
 '12/2019': 3402,
 '01/2020': 3288,
 '02/2020': 3042,
 '03/2020': 3343,
 '04/2020': 2709,
 '05/2020': 3247,
 '06/2020': 3715,
 '07/2020': 3940,
 '08/2020': 3793,
 '09/2020': 3310,
 '10/2020': 3210,
 '11/2020': 3116,
 '12/2020': 3187,
 '01/2021': 3419,
 '02/2021': 2841,
 '03/2021': 3631,
 '04/2021': 3739,
 '05/2021': 4223,
 '06/2021': 4233,
 '07/2021': 4125,
 '08/2021': 4060,
 '09/2021': 3881,
 '10/2021': 3718,
 '11/2021': 3369,
 '12/2021': 3555,
 '01/2022': 3132,
 '02/2022': 2884,
 '03/2022': 3439,
 '04/2022': 910}

In [17]:
# Count for domestic crime
count_indomestic={}
for i in range(len(crime)):
    if crime['Domestic'][i]==False:
        if crime['Month_Year'][i] not in count_indomestic:
            count_indomestic[crime['Month_Year'][i]]=0
        count_indomestic[crime['Month_Year'][i]]+=1
    if crime['Month_Year'][i]==0:
        print(i)

count_indomestic

{'01/2018': 17214,
 '02/2018': 14462,
 '03/2018': 17677,
 '04/2018': 17633,
 '05/2018': 20445,
 '06/2018': 20109,
 '07/2018': 21120,
 '08/2018': 21457,
 '09/2018': 19453,
 '10/2018': 19205,
 '11/2018': 17304,
 '12/2018': 18463,
 '01/2019': 16338,
 '02/2019': 15386,
 '03/2019': 16918,
 '04/2019': 17479,
 '05/2019': 19568,
 '06/2019': 19647,
 '07/2019': 20740,
 '08/2019': 20462,
 '09/2019': 18810,
 '10/2019': 18346,
 '11/2019': 16648,
 '12/2019': 17385,
 '01/2020': 16576,
 '02/2020': 15131,
 '03/2020': 13375,
 '04/2020': 10181,
 '05/2020': 14327,
 '06/2020': 13891,
 '07/2020': 15655,
 '08/2020': 16081,
 '09/2020': 14595,
 '10/2020': 15199,
 '11/2020': 13486,
 '12/2020': 13270,
 '01/2021': 12664,
 '02/2021': 10195,
 '03/2021': 12291,
 '04/2021': 11661,
 '05/2021': 13425,
 '06/2021': 14432,
 '07/2021': 14940,
 '08/2021': 14264,
 '09/2021': 15211,
 '10/2021': 15477,
 '11/2021': 13879,
 '12/2021': 13561,
 '01/2022': 12086,
 '02/2022': 11972,
 '03/2022': 14159,
 '04/2022': 3397}

In [20]:
for i in count_domestic:
    with open('type_domestic.csv','a') as f:
        wf = csv.writer(f)
        wf.writerow([i,count_domestic[i],count_indomestic[i]])